:root {
    --background-color: rgb(200, 200, 200);
    --font-color: rgb(14, 92, 36);
    --border-color: rgb(9, 56, 3);
    --accent-color: rgb(162, 158, 78);
}

h1 {
    color: var(--accent-color)

}
div {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    border: 0px solid var(--border-color);
    padding: 3px;
    padding-bottom: 1px;
}
.lekcja {
    flex-direction: row;

}
.info {
    flex-direction: column;
    width: 90%;

    border: 2px solid var(--border-color);
}
.sala {

    border: 2px dashed var(--accent-color);
    
}
.nr-lekcji {
    font-weight: bold;
    align-items: center;
    min-height: 70px;
}

.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
    justify-content: start;
}
.kolumna-numery-lekcji {
    justify-content: space-around;
    padding-top: calc(2em);
}

.desktop-only {
    display: none;
}
.mobile-only {
    display: block;
}
@media  screen and (width > 800px ) and ( width < 900px) {
.info {
    padding: 0px;
}
.column {
    padding: 0px;
}
}
@media  screen and (width > 800px) {
    .info {
        width: min-content;
    }
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
}

.lekcja, .nr-lekcji {
    height: 7em;
}
.dzien {
    height: min-content;
}
.info {
    width: 100%;
}

.ninja {
    border: none;
}

.hidden {
    display: none;
}
.select-day {
    background-color: var(--background-color);
}
.select-day select {
    background-color: var(--background-color);
    border:2px solid var(--border-color);
    font-size: larger;
    margin-right: 4em;
    margin-left: 4em;
    width: calc(100% - 8em);
    height: 3em;
    padding-left: calc(100%/2 - 7em);
}